extends ./partial/layout.pug
block linkcss
    link(href="/vendor/bootstrap5/css/bootstrap.min.css" rel="stylesheet")
    link(rel="stylesheet" href="/vendor/fontawesome6/css/all.min.css")
    link(href="/vendor/datatables/css/dataTables.bootstrap5.min.css" rel="stylesheet")
    link(href="/vendor/datatables/css/responsive.dataTables.min.css" rel="stylesheet")
    link(href="/vendor/datatables/css/buttons.bootstrap5.min.css" rel="stylesheet")
    link(rel="stylesheet", href="/css/configVilogTable.css")
    link(rel="stylesheet", href="/css/pageCommon.css")
block content
    .container-fluid
        h2.text-primary Vilog Remote Configuration (Table View)

        // Config Table
        .card.card-custom.p-4
            h5.card-title.text-primary
                i.fas.fa-table.me-2
                | Vilog Data Table

            .table-responsive
                table#siteListTable.table.table-striped.table-hover.w-100
                    thead.table-light
                        tr
                            th Site ID
                            th Site Name
                            th Meter Type
                            th Send Time
                            th Log Time
                            th Lat
                            th Long
                            th Channel ID
                            th Channel Name
                            th Latest Data
                            th Latest Time
                            th Low Threshold
                            th High Threshold
                    tbody#siteListTableBody

block linkcriptbody
    script(src="/js/hostname.js")
    script(src="/vendor/jquery/jquery-3.7.1.min.js")
    script(src="/vendor/bootstrap5/js/bootstrap.bundle.min.js")
    script(src="/vendor/datatables/js/dataTables.min.js")
    script(src="/vendor/datatables/js/dataTables.bootstrap5.min.js")
    script(src="/vendor/datatables/js/dataTables.buttons.min.js")
    script(src="/vendor/datatables/js/buttons.bootstrap5.min.js")
    script(src="/vendor/jszip/jszip.min.js")
    script(src="/vendor/pdfmake/pdfmake.min.js")
    script(src="/vendor/pdfmake/vfs_fonts.js")
    script(src="/vendor/datatables/js/buttons.html5.min.js")
    script(src="/vendor/datatables/js/buttons.print.min.js")
    script(src="/vendor/datatables/js/dataTables.responsive.min.js")
    script(src="/js/util.js")
    script(src="/js/configVilogTable.js")
