extends ./partial/layout.pug
block linkcss
    link(rel="stylesheet", href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css")
    link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css")
    link(rel="stylesheet", href="https://cdn.jsdelivr.net/npm/tom-select/dist/css/tom-select.bootstrap5.min.css")
    link(rel="stylesheet", href="/css/leaflet/leaflet.1.6.0.css")
    link(rel="stylesheet", href="/css/leaflet/context-menu.min.css")
    link(rel="stylesheet", href="/css/configVilog.css")
    link(rel="stylesheet", href="/css/pageCommon.css")
block content
    .container.py-4
        .card.card-config
            .config-header
                i.fas.fa-gear.me-2
                | Vilog Remote Configuration
            .card-body.p-4.p-lg-5
                form#siteConfigForm
                    .section-header
                        i.fas.fa-info-circle.me-2
                        | General Information
                    .row
                        .col-md-6
                            label#lbSite.form-label.form-label-config(for="site") Select Vilog
                            select.form-control#site.form-select( type="text" aria-label='lbSite' aria-describedby='lbSite' data-placeholder="select site")
                        .col-md-6
                            label#lbSite.form-label.form-label-config(for="oldLocation") SiteName
                            input#oldLocation.form-control(type="text" disabled)
                        .col-md-6
                            label.form-label.form-label-config(for="siteid") Site Id
                            input#siteid.form-control(type="text" onfocusin="onForcusInSiteId(this)" onfocusout="onForcusOutSiteId(this)")
                        .col-md-6
                            label.form-label.form-label-config(for="location") SiteName
                            input#location.form-control(type="text" onfocusin="onForcusInLocation(this)" onfocusout="onForcusOutLocation(this)")
                        .col-md-6
                            label.form-label.form-label-config(for="typeMeter" ) Meter Type
                            input#typeMeter.form-control(type="typeMeter" disabled)
                        .col-md-6
                            label.form-label.form-label-config(for="sendTime") Send Time
                            select#sendTime.form-select(onChange="sendTimeChanged(this)")
                                option(value="15m") 15m
                                option(value="30m") 30m
                                option(value="1h") 1h
                                option(value="2h") 2h
                                option(value="6h") 6h
                                option(value="12h") 12h
                        .col-md-6
                            label.form-label.form-label-config(for="logTime") Log Time
                            select#logTime.form-select(onChange="logTimeChange(this)")
                                option(value="15m") 15m
                                option(value="30m") 30m
                                option(value="60m") 60m
                    .row
                        .col-12.button
                            .config-actions.text-end
                                button.btn.btn-info.me-2.text-white#btnUpdate(type="button" onclick="UpdateVilog(this)")
                                    i.fas.fa-save.me-1
                                    | Update
                                button.btn.btn-danger#btnStop(type="button" onclick="StopLogging(this)")
                                    i.fas.fa-trash.me-1
                                    | Stop Logging

block linkcriptbody
    script(src="https://code.jquery.com/jquery-3.7.1.min.js")
    script(src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js")
    script(src="https://cdn.datatables.net/2.0.8/js/dataTables.min.js")
    script(src="https://cdn.datatables.net/2.0.8/js/dataTables.bootstrap5.min.js")
    script(src="https://cdn.datatables.net/buttons/3.0.2/js/dataTables.buttons.min.js")
    script(src="https://cdn.datatables.net/buttons/3.0.2/js/buttons.bootstrap5.min.js")
    script(src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.10.1/jszip.min.js")
    script(src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.2.7/pdfmake.min.js")
    script(src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.2.7/vfs_fonts.js")
    script(src="https://cdn.datatables.net/buttons/3.0.2/js/buttons.html5.min.js")
    script(src="https://cdn.datatables.net/buttons/3.0.2/js/buttons.print.min.js")
    script(src="https://cdn.datatables.net/responsive/3.0.2/js/dataTables.responsive.min.js")
    script(src="https://cdn.jsdelivr.net/npm/tom-select/dist/js/tom-select.complete.min.js")
    script(src="/js/hostname.js")
    script(src="/js/util.js")
    script(src="/js/configVilog.js")
