extends ./partial/layout.pug
block linkcss
    link(href="/vendor/bootstrap5/css/bootstrap.min.css" rel="stylesheet")
    link(rel="stylesheet" href="/vendor/fontawesome6/css/all.min.css")
    link(href="/vendor/datatables/css/dataTables.bootstrap5.min.css" rel="stylesheet")
    link(href="/vendor/datatables/css/buttons.bootstrap5.min.css" rel="stylesheet")
    link(href="/vendor/datatables/css/responsive.dataTables.min.css" rel="stylesheet")
    link(rel="stylesheet", href="/css/dashboardVilog.css")
    link(rel="stylesheet", href="/css/pageCommon.css")
block content
    .container-fluid
        .container-fluid.py-4
            h2.text-primary Vilog Site Activity Summary
            .row
                .col-6.col-md-3
                    .card.card-kpi.p-3.text-center(data-filter="Total")
                        i.fas.fa-sitemap.text-dark.kpi-icon.mb-2
                        .kpi-title TOTAL SITES
                        .kpi-value.text-dark#kpi-total 0
                .col-6.col-md-3
                    .card.card-kpi.p-3.text-center.bg-info-subtle(data-filter="DataPresent")
                        i.fas.fa-database.text-info.kpi-icon.mb-2
                        .kpi-title DATA PRESENT
                        .kpi-value.text-info#kpi-data-present 0

                .col-6.col-md-3
                    .card.card-kpi.p-3.text-center.bg-warning-subtle(data-filter="Disconnected")
                        i.fas.fa-plug-circle-xmark.text-warning.kpi-icon.mb-2
                        .kpi-title DISCONNECTED
                        .kpi-value.text-warning#kpi-disconnected 0
                .col-6.col-md-3
                    .card.card-kpi.p-3.text-center.bg-danger-subtle(data-filter="Alarm")
                        i.fas.fa-triangle-exclamation.text-danger.kpi-icon.mb-2
                        .kpi-title ALARM
                        .kpi-value.text-danger#kpi-alarm 0

            .card.b-none.p-4
                h5.card-title.text-primary.mb-3
                    | Vilog Data Table
                    span.instruction-label.badge.bg-secondary-subtle.text-secondary.ms-2(title="Click on the KPI cards above to filter")
                        i.fas.fa-mouse-pointer.me-1
                        |  Click KPI Cards to Filter

                .table-responsive
                    table#vlogTable.table.table-striped.table-hover.w-100
                        thead.table-light
                            tr
                                th SiteId
                                th Sitename
                                th Status
                                th Latest Time
                                th Net Totalizer (m3/h)
                                th Forward Flow (m3/h)
                                th Reverse Flow (m3/h)
                                th Level (m)
                                th.w-150 Signal (dB)
                                th Logger Battery (V)
                                th Alarm
                        tbody#vlogTableBody
block linkcriptbody
    script(src="/js/hostname.js")
    script(src="/vendor/jquery/jquery-3.7.1.min.js")
    script(src="/vendor/bootstrap5/js/bootstrap.bundle.min.js")
    script(src="/vendor/datatables/js/dataTables.min.js")
    script(src="/vendor/datatables/js/dataTables.bootstrap5.min.js")
    script(src="/vendor/datatables/js/dataTables.buttons.min.js")
    script(src="/vendor/datatables/js/buttons.bootstrap5.min.js")
    script(src="/vendor/jszip/jszip.min.js")
    script(src="/vendor/pdfmake/pdfmake.min.js")
    script(src="/vendor/pdfmake/vfs_fonts.js")
    script(src="/vendor/datatables/js/buttons.html5.min.js")
    script(src="/vendor/datatables/js/buttons.print.min.js")
    script(src="/vendor/datatables/js/dataTables.responsive.min.js")
    script(src="/socket.io/socket.io.js")
    script(src="/js/dashboardVilog.js")
    script(src="/js/util.js")
