extends ./partial/layout.pug
block linkcss
    link(href="/vendor/bootstrap5/css/bootstrap.min.css" rel="stylesheet")
    link(rel="stylesheet" href="/vendor/fontawesome6/css/all.min.css")
    link(rel="stylesheet", href="/css/dashboardLevel.css")
    link(rel="stylesheet", href="/css/pageCommon.css")
block content
    .container-fluid
        .container-fluid.py-4
            h2.text-primary Level Monitoring
            #levelCardsContainer.row.g-3
block linkcriptbody
    script(src="/js/hostname.js")
    script(src="/vendor/bootstrap5/js/bootstrap.bundle.min.js")
    script(src="/axios/axios.min.js")
    script(src="/js/dashboardLevel.js")
    script(src="/js/util.js")
