extends ./partial/layout.pug
block linkcss
    link(rel="stylesheet", href="/vendor/tomselect/css/tom-select.bootstrap5.min.css")
    link(rel="stylesheet", href="/vendor/bootstrap5/css/bootstrap.min.css")
    link(rel="stylesheet", href="/vendor/fontawesome6/css/all.min.css")
    link(rel="stylesheet", href="/vendor/datatables/css/dataTables.bootstrap5.min.css")
    link(rel="stylesheet", href="/vendor/select2/css/select2.min.css")
    link(rel="stylesheet", href="/vendor/select2/css/select2-bootstrap-5-theme.min.css")
    link(href="/vendor/datatables/css/responsive.dataTables.min.css" rel="stylesheet")
    link(rel="stylesheet", href="/css/dataDayLogger.css")
    link(rel="stylesheet", href="/css/pageCommon.css")
block content
    .container-fluid.py-4
        h2.text-primary
            i.fas.fa-calendar-day.me-2
            | Daily Data Log Summary

        .card.card-custom.p-4
            h5.card-title.text-primary
                i.fas.fa-search.me-2.text-primary
                | Data Query Filters
            .row.align-items-end
                .col-lg-5.col-md-12
                    label.form-label.text-muted(for="siteSelector") Select Site(s)
                    select.form-select#selectSite(multiple data-placeholder="Choose multiple Sites...")
                .col-lg-2.col-md-4
                    label.form-label.text-muted(for="startDate") Start Date
                    input.form-control#startDate(type="date")
                .col-lg-2.col-md-4
                    label.form-label.text-muted(for="endDate") End Date
                    input.form-control#endDate(type="date")
                .col-lg-3.col-md-4
                    button.btn.btn-primary.w-100#viewDataDayLogger
                        i.fas.fa-eye.me-1
                        | View Data

        .card.card-custom.p-4
            h5.card-title.text-primary
                i.fas.fa-table.me-2
                | Detailed Daily Log

            //- .d-flex.justify-content-end.mb-3
            //-     button.btn.btn-sm.btn-outline-success.me-2
            //-         i.fas.fa-file-excel.me-1
            //-         | Export Excel
            //-     button.btn.btn-sm.btn-outline-secondary.me-2
            //-         i.fas.fa-file-csv.me-1
            //-         | Export CSV
            //-     button.btn.btn-sm.btn-outline-danger
            //-         i.fas.fa-file-pdf.me-1
            //-         | Export PDF

            .table-responsive
                table#dailyDataTable.table.table-striped.table-hover.w-100
                    thead.table-light
                        tr
                            th
                                i.fas.fa-calendar-day
                                | Date
                            th
                                i.fas.fa-sitemap
                                | SiteId
                            th
                                i.fas.fa-map-marker-alt
                                | Sitename
                            th
                                i.fas.fa-water.me-1.status-info
                                | Flow Max
                            th
                                i.fas.fa-water.me-1.status-info
                                | Flow Min
                            th
                                i.fas.fa-calculator.me-1.status-info
                                | Consumption
                            th
                                i.fas.fa-battery-full.me-1.status-success
                                | Battery Max
                            th
                                i.fas.fa-battery-low.me-1.status-danger
                                | Battery Min
                            th
                                i.fas.fa-tachometer-alt.me-1.status-success
                                | Press Max
                            th
                                i.fas.fa-tachometer-alt.me-1.status-danger
                                | Press Min
                    tbody#dailyDataTableBody
                    tfoot
                        tr
                            td.text-end(colspan="5") Sum Consumption:
                            td#sumConsumption.status-info 0.00
                            td(colspan="4")
block linkcriptbody
    script(src="/vendor/jquery/jquery-3.7.1.min.js")
    script(src="/vendor/bootstrap5/js/bootstrap.bundle.min.js")
    script(src="/vendor/datatables/js/dataTables.min.js")
    script(src="/vendor/datatables/js/dataTables.bootstrap5.min.js")
    script(src="/vendor/select2/js/select2.min.js")
    script(src="/vendor/datatables/js/dataTables.buttons.min.js")
    script(src="/vendor/datatables/js/buttons.bootstrap5.min.js")
    script(src="/vendor/jszip/jszip.min.js")
    script(src="/vendor/pdfmake/pdfmake.min.js")
    script(src="/vendor/pdfmake/vfs_fonts.js")
    script(src="/vendor/datatables/js/buttons.html5.min.js")
    script(src="/vendor/datatables/js/buttons.print.min.js")
    script(src="/js/hostname.js") 
    script(src="/vendor/tomselect/js/tom-select.complete.min.js") 
    script(src="/vendor/datatables/js/dataTables.responsive.min.js")
    script(src="/js/datadayLogger.js") 
    script(src="/js/util.js") 