extends ./partial/layout.pug
block linkcss
    link(href="/vendor/bootstrap5/css/bootstrap.min.css", rel="stylesheet")
    link(rel="stylesheet", href="/vendor/fontawesome6/css/all.min.css")
    link(href="/vendor/datatables/css/dataTables.bootstrap5.min.css", rel="stylesheet")
    link(rel="stylesheet", href="/vendor/datatables/css/buttons.bootstrap5.min.css")
    link(rel="stylesheet", href="/css/dataOnline.css")
    link(rel="stylesheet", href="/css/pageCommon.css")
block content
    .container-fluid.py-4
        .header-section.mb-4
            h2.text-primary.mb-2 Vilog Data Online

        .card.card-custom.p-4.mb-4
            .card-header.bg-transparent.border-0.p-0.mb-3
                h5.card-title.mb-0.text-primary
                    i.fas.fa-filter.me-2.text-primary
                    | Data Query Filters
            .row.g-3.align-items-end
                .col-xl-2.col-lg-4.col-md-6
                    label.form-label.text-muted.fw-semibold(for="selectSite") Site ID
                    select.form-select.form-select-sm.form-control(id="selectSite")
                        option(selected) Loading sites...
                .col-xl-2.col-lg-4.col-md-6
                    label.form-label.text-muted.fw-semibold(for="startDate") Start Date
                    input.form-control.form-control-sm(type="date", id="startDate")
                .col-xl-2.col-lg-4.col-md-6
                    label.form-label.text-muted.fw-semibold(for="endDate") End Date
                    input.form-control.form-control-sm(type="date", id="endDate")
                .col-xl-3.col-lg-6.col-md-6
                    label.form-label.text-muted.fw-semibold(for="filterChannel") Channel Selection
                    button.btn.btn-outline-primary.w-100.btn-sm(id="filterChannel")
                        i.fas.fa-list-check.me-2
                        | Select Channels
                .col-xl-2.col-lg-6.col-md-12
                    button.btn.btn-primary.w-100.btn-sm(id="viewDataOnline")
                        i.fas.fa-database.me-2
                        | Filter Data
        
        #loading.loading-overlay.hide
            .spinner-border.text-primary(role="status")
            span.ms-2 Loading data...

        .card.card-custom.p-4.mb-4
            .card-header.bg-transparent.border-0.p-0.mb-3
                h5.card-title.mb-0.text-primary
                    i.fas.fa-gauge-high.me-2.text-primary
                    | Current Data Readings
            #channel_cards.row.g-3

        .card.card-custom.p-4.mb-4
            .card-header.bg-transparent.border-0.p-0.mb-3
                h5.card-title.mb-0.text-primary
                    i.fas.fa-chart-line.me-2.text-primary
                    | Historical Data Trend
            .chart-container
                #chart.chart-placeholder
                    //- i.fas.fa-chart-area.me-2
                    //- | Chart will load with data

        .card.card-custom.p-4
            .card-header.bg-transparent.border-0.p-0.mb-3
                h5.card-title.mb-0.text-primary
                    i.fas.fa-table.me-2.text-primary
                    | Detailed Data Log
            .table-responsive
                #dataTable

    #Model.modal.fade(tabindex="-1", aria-labelledby="channelModalLabel", aria-hidden="true")
        .modal-dialog.modal-dialog-centered
            .modal-content.card-custom
                .modal-header
                    h5.modal-title.text-primary(id="channelModalLabel")
                        i.fas.fa-list-check.me-2
                        | Select Data Channels
                    button.btn-close(type="button", data-bs-dismiss="modal", aria-label="Close")
                .modal-body
                    #bodyModal
                        .text-center
                            .spinner-border.text-primary(role="status")
                            span.ms-2 Loading channels...
                .modal-footer
                    button.btn.btn-light(type="button", data-bs-dismiss="modal") Cancel
                    button.btn.btn-primary(type="button", data-bs-dismiss="modal")
                        i.fas.fa-check.me-1
                        | Apply Selection
block linkcriptbody
    script(src="/js/hostname.js")
    script(src="/vendor/jquery/jquery-3.7.1.min.js")
    script(src="/vendor/bootstrap5/js/bootstrap.bundle.min.js")
    script(src="/vendor/datatables/js/dataTables.min.js")
    script(src="/vendor/datatables/js/dataTables.bootstrap5.min.js")
    script(src="/vendor/datatables/js/dataTables.buttons.min.js")
    script(src="/vendor/datatables/js/buttons.bootstrap5.min.js")
    script(src="/vendor/jszip/jszip.min.js")
    script(src="/vendor/pdfmake/pdfmake.min.js")
    script(src="/vendor/pdfmake/vfs_fonts.js")
    script(src="/vendor/datatables/js/buttons.html5.min.js")
    script(src="/vendor/datatables/js/buttons.print.min.js")
    script(src="/vendor/datatables/js/dataTables.responsive.min.js")
    script(src='/js/plotly.min.js')
    script(src="/js/dataOnline.js") 
    script(src="/js/util.js") 