extends ./partial/layout.pug
block linkcss
    link(rel="stylesheet", href="/css/detailAlarmLostWater.css")
    link(rel="stylesheet", href="/css/pageCommon.css")
block content
    .container-fluid
        .row.title-pressure
            h3 Alarm Detail Water Lost
        .row.info
            .col-sm-4
                span.ml-2.mr-3 Choose site
                select.form-select.form-select-sm#selectSite(aria-label='.form-select-sm example')
            .col-sm-4
                span.ml-2.mr-3 Start hour
                input#startDatePrev(type='datetime-local' name='startDate' value='' min='1970-01-01T00:00' max='')
            .col-sm-4 
                span.ml-2.mr-3 Start hour
                input#startDate(type='datetime-local' name='startDate' value='' min='1970-01-01T00:00' max='')
            .col-sm-4
                div 
            .col-sm-4
                span.ml-2.mr-3 End hour
                input#endDatePrev(type='datetime-local' name='endDate' value='' min='1970-01-01T00:00' max='')
            .col-sm-4
                span.ml-2.mr-3 End hour
                input#endDate(type='datetime-local' name='endDate' value='' min='1970-01-01T00:00' max='')
            .col-sm-12.button
                button.btn.btn-primary.btn-sm#viewDetailAlarmLostWater View
        .row.result
            .loading
                img#loading.hide(src='/images/loading.svg')
            .col-sm-8
                h5.text-center#titleChartPressure
                #chartPressure
            .col-sm-4 
                #tableDataPressure
            .col-sm-8
                h5.text-center#titleChartFlow
                #chartFlow
            .col-sm-4 
                #tableDataFlow
            .col-sm-8
                h5.text-center#titleChartQuantity
                #chartQuantity
            .col-sm-4 
                #tableDataQuantity
            .col-sm-8
                h5.text-center#titleChartMNF
                #chartMNF
            .col-sm-4 
                #tableDataMNF

block linkcriptbody
    script(src="/js/hostname.js") 
    script(src="/js/detailAlarmLostWater.js")
    script(src="/js/util.js") 
