extends ./partial/layout.pug
block linkcss
	link(href="/vendor/bootstrap5/css/bootstrap.min.css" rel="stylesheet")
	link(rel="stylesheet" href="/vendor/fontawesome6/css/all.min.css")
	link(href="/vendor/datatables/css/dataTables.bootstrap5.min.css" rel="stylesheet")
	link(href="/vendor/datatables/css/responsive.dataTables.min.css" rel="stylesheet")
	link(rel="stylesheet", href="/css/historyAlarm.css")
	link(rel="stylesheet", href="/css/pageCommon.css")
block content
	.container-fluid
		h2.text-primary Alarm History Log

			// Filter Card
			.card.card-custom.p-4
				h5.card-title.text-primary
					i.fas.fa-filter.me-2.text-primary
					| Filter by Time Range
				.row.align-items-end
					.col-lg-3.col-md-6
						label.form-label.text-muted(for="startHour") Start Time
						input#startHour.form-control.form-control-datetime(type="datetime-local")
					.col-lg-3.col-md-6
						label.form-label.text-muted(for="endHour") End Time
						input#endHour.form-control.form-control-datetime(type="datetime-local")
					.col-lg-2.col-md-12
						button#viewButton.btn.btn-primary.w-100
							i.fas.fa-eye.me-1
							| View

			// Alarm Table
			.card.card-custom.p-4
				h5.card-title.text-primary
					i.fas.fa-bell.me-2
					| Detailed Alarm Events

				.table-responsive
					table#alarmTable.table.table-striped.table-hover.w-100
						thead.table-light
							tr
								th Site ID
								th Sitename
								th Channel
								th Timestamp Data
								th Timestamp Alarm
								th Alarm
						tbody#alarmTableBody

block linkcriptbody
	script(src="/js/hostname.js")
	script(src="/vendor/jquery/jquery-3.7.1.min.js")
	script(src="/vendor/bootstrap5/js/bootstrap.bundle.min.js")
	script(src="/vendor/datatables/js/dataTables.min.js")
	script(src="/vendor/datatables/js/dataTables.bootstrap5.min.js")
	script(src="/vendor/datatables/js/dataTables.buttons.min.js")
	script(src="/vendor/datatables/js/buttons.bootstrap5.min.js")
	script(src="/vendor/jszip/jszip.min.js")
	script(src="/vendor/pdfmake/pdfmake.min.js")
	script(src="/vendor/pdfmake/vfs_fonts.js")
	script(src="/vendor/datatables/js/buttons.html5.min.js")
	script(src="/vendor/datatables/js/buttons.print.min.js")
	script(src="/vendor/datatables/js/dataTables.responsive.min.js")
	script(src="/js/historyAlarm.js")
	script(src="/js/util.js")
