extends ./partial/layout.pug
block linkcss
    link(rel="stylesheet", href="/css/leaflet/leaflet.1.6.0.css")
    link(rel="stylesheet", href="/css/leaflet/context-menu.min.css")
    link(rel="stylesheet", href="/assets/css/lib/listtree/listree.min.css")
    link(rel="stylesheet", href="/css/map.css")
    link(rel="stylesheet", href="/css/pageCommon.css")
block content 
    .container-fluid.map
        .row
            .col.p-0
                .map#map
                .legend#legend
                    div 
                        div.p-2
                            img(src="/images/green.png", alt="icon blue") 	
                            span.ml-2 Normal/Data Present
                        div.p-2
                            img(src="/images/yellow.png", alt="icon yellow") 	
                            span.ml-2 Disconnected	
                        div.p-2
                            img(src="/images/red.png", alt="icon red") 	
                            span.ml-2 Alarm
                .icon-setting
                    .box-icon#config.config
                        i.fa.fa-cog.fa-spin.fa-2x.fa-fw.text-danger
                    //- .box-icon#settingChannel.setting-channel
                    //-     i.fa.fa-cog.fa-spin.fa-2x.fa-fw.text-success
                    .box-icon#filter.filter
                        i.fa.fa-filter.fa-2x.fa-fw.text-success
                #panel.panel.d-none
                    #treeViewSite
                        .box-expan
                            .row 
                                .col-12
                                    .input-group.input-group-sm
                                        input.form-control(type='text' placeholder="Search site" aria-label='Sizing example input' aria-describedby='inputGroup-sizing-sm' id="searchSite")
                                //- .col-3
                                //-     img(src="/images/expan-icon.png", alt="expan", srcset="" id="expan")

                        .box-listtree#listSite.mt-3
                        .box-view-mutiple-channel 
                            button.btn.btn-info.btn-sm#viewMutipleChannel(type="button") View

                    #filterSite
                        h5.text-center Fillter Group
                        #filterSiteSub
            #chart.modal.fade.bd-example-modal-lg(tabindex='-1' role='dialog' aria-labelledby='chartLabel' aria-hidden='true')
                .modal-dialog.modal-lg(role='document')
                    .modal-content
                        .modal-header
                            h5#chartLabel.modal-title Data history
                            span.close-button(data-dismiss='modal') x
                        .modal-body
                            .row
                                .col-lg-5
                                    span.ml-2.mr-3 Start date
                                    input#startDate(type='datetime-local' name='startDate' value='' min='1970-01-01T00:00' max='')
                                .col-lg-5 
                                    span.ml-2.mr-3 End date
                                    input#endDate(type='datetime-local' name='endDate' value='' min='1970-01-01T00:00' max='')
                                .col-lg-2.col-button-view
                                    button.btn.btn-primary#viewChart(onclick="viewChart()") View
                                .col-sm-12.col-button-view
                                    button.btn.btn-info#viewOnChart(onclick="viewOnChart()") Graph
                                    button.btn.btn-info.ml-2#viewTable(onclick="viewTable()") Table
                            .row 
                                .col-12 
                                    #chartDataLogger(ondrop="drop(event)" ondragover="allowDrop(event)")
                                    #talbeChart.d-none
                                .col-12
                                    div.text-flow Min Forward Flow:
                                        span.ml-2#modalMinFlow
                                    div.text-flow  Max Forward Flow:
                                        span.ml-2#modalMaxFlow
                                    div.text-flow  Min Net:
                                        span.ml-2#modalMinNet
                                    div.text-flow  Max Net:
                                        span.ml-2#modalMaxNet
                                    div.text-flow  Consumption:
                                        span.ml-2#modalConsumption
                                    #modalMinBatteryLogger.text-battery
                                    #modalMaxBatteryLogger.text-battery
                                    #modalMinBatteryMeter.text-battery
                                    #modalMaxBatteryMeter.text-battery
                        .modal-footer
                            button.btn.btn-default#closeChart(type='button' data-dismiss='modal') Close
            #staictis.modal.fade.bd-example-modal-lg(tabindex='-1' role='dialog' aria-labelledby='staictis' aria-hidden='true')
                .modal-dialog.modal-lg(role='document')
                    .modal-content
                        .modal-header
                            h5#statisticLabel.modal-title
                        .modal-body
                            table.table.table-striped.table-hover
                                thead
                                    tr
                                        th SiteId
                                        th Sitename 
                                        th Connection 
                                        th Data Status
                                tbody#tbodyStatistic
                        .modal-footer
                            button.btn.btn-default#closeStatistic(type='button' data-dismiss='modal' onclick="closeStatisticModal()") Close
    .container-fluid
        .row.text-center
            .col-sm-3 
                div.text-uppercase.border-right.text-success(data-status="sites" onclick="showStatistic(this)") Total sites
                    div#totalSite.text-success.fw-bold
            .col-sm-3 
                div.text-uppercase.border-right.text-info(data-status="siteHasValue" onclick="showStatistic(this)") data present
                    div#totalSiteHasValue.text-info.fw-bold
            .col-sm-3 
                div.text-uppercase.border-right.text-warning(data-status="siteDelay" onclick="showStatistic(this)") disconnected
                    div#totalSiteDelay.text-warning.fw-bold
            .col-sm-3 
                div.text-uppercase.border-right.text-danger(data-status="siteAlarm" onclick="showStatistic(this)") alarm
                    div#totalSiteAlarm.text-danger.fw-bold


block linkcriptbody
    script(src='/js/leaflet/leaflet.1.6.0.js')
    script(src='/js/leaflet/context-menu.js')
    script(src='/axios/axios.min.js')
    script(src="/assets/js/lib/listtree/listree.umd.min.js") 
    script(src='/js/plotly.min.js')
    script(src='/js/hostname.js')
    script(src='/js/map.js')
    script(src='/js/chartForMap.js')
    script(src='/js/settingForMap.js')
    script(src='/js/util.js')
    