extends ./partial/layout.pug
block linkcss
    link(rel="stylesheet", href="/vendor/bootstrap5/css/bootstrap.min.css")
    link(rel="stylesheet", href="/vendor/fontawesome6/css/all.min.css")
    link(rel="stylesheet", href="/css/permissionConsumer.css")
    link(rel="stylesheet", href="/css/pageCommon.css")
block content
    .container.py-2
        h2.text-center.text-primary
            i.fas.fa-user-shield.me-2
            | Consumer Site Access Management

        .card.card-custom.mx-auto
            .card-body
                div
                    label.form-label.fw-bold.text-primary(for="consumerSelect")
                        i.fas.fa-user-tie.me-2
                        | Select Consumer:
                    select.form-select#consumerSelect

                hr

                .row.transfer-container.p-3.g-0
                    .col-md-5.p-2
                        h6.text-primary.fw-bold.text-center.mb-2 Available Sites (Sites not yet assigned)
                        .input-group.mb-2
                            span.input-group-text
                                i.fas.fa-search
                            input.form-control(type="text", placeholder="Search available sites...", id="searchAvailable")
                        ul.site-list#availableSitesList

                    .col-md-2.control-buttons.p-2
                        button.btn.btn-primary#assignBtn(type="button", disabled, title="Assign Selected Sites")
                            i.fas.fa-chevron-right
                        button.btn.btn-warning.text-white#unassignBtn(type="button", disabled, title="Unassign Selected Sites")
                            i.fas.fa-chevron-left
                        hr.my-2
                        button.btn.btn-outline-primary#assignAllBtn(type="button", disabled, title="Assign All Sites")
                            i.fas.fa-angles-right
                        button.btn.btn-outline-warning#unassignAllBtn(type="button", disabled, title="Unassign All Sites")
                            i.fas.fa-angles-left

                    .col-md-5.p-2
                        h6.text-primary.fw-bold.text-center.mb-2 Assigned Sites (Sites managed by consumer)
                        .input-group.mb-2
                            span.input-group-text
                                i.fas.fa-search
                            input.form-control(type="text", placeholder="Search assigned sites...", id="searchAssigned")
                        ul.site-list#assignedSitesList

                .d-grid.gap-2.d-md-flex.justify-content-md-center.mt-4
                    button.btn.btn-success.btn-lg#updateAccessBtn(type="button", disabled)
                        i.fas.fa-save.me-2
                        | Save Changes


block linkcriptbody
    script(src="/vendor/jquery/jquery-3.7.1.min.js")
    script(src="/vendor/bootstrap5/js/bootstrap.bundle.min.js")
    script(src="/vendor/bootstrap5/js/bootstrap.bundle.min.js")
    script(src="/vendor/datatables/js/dataTables.min.js")
    script(src="/vendor/datatables/js/dataTables.bootstrap5.min.js")
    script(src="/vendor/datatables/js/dataTables.buttons.min.js")
    script(src="/vendor/datatables/js/buttons.bootstrap5.min.js")
    script(src="/vendor/jszip/jszip.min.js")
    script(src="/vendor/pdfmake/pdfmake.min.js")
    script(src="/vendor/pdfmake/vfs_fonts.js")
    script(src="/vendor/datatables/js/buttons.html5.min.js")
    script(src="/vendor/datatables/js/buttons.print.min.js")
    script(src="/vendor/datatables/js/dataTables.responsive.min.js")
    script(src="/js/hostname.js")
    script(src="/js/permissionConsumer.js")
    script(src="/js/util.js")
