extends ./partial/layout.pug
block linkcss
    link(rel="stylesheet", href="/css/quantityMonthReport.css")
    link(rel="stylesheet", href="/css/pageCommon.css")
block content
    .container-fluid
        .row.title-pressure
            h3 Báo Cáo Sản Lượng Theo Tháng
        .row.info
            .col-sm-4
                span.ml-2.mr-3 Chọn vị trí
                select.form-select.form-select-sm#selectSite(aria-label='.form-select-sm example')
            .col-sm-4
                span.ml-2.mr-3 Tháng Bắt Đầu 
                input#startDate(type='month' name='startDate' value='' min='1970-01-01T00:00' max='' pattern="[0-9]{4}-[0-9]{2}")
            .col-sm-4
                span.ml-2.mr-3 Tháng Kết Thúc
                input#endDate(type='month' name='endDate' value='' min='1970-01-01T00:00' max='' pattern="[0-9]{4}-[0-9]{2}")
            .col-sm-12.button
                button.btn.btn-primary.btn-sm#viewQuantityMonthReport Xem
        .row.result
            .col 
                #tablePlaceHolder
                    .loading
                        img#loading.hide(src='/images/loading.svg')

block linkcriptbody
    script(src="/js/hostname.js") 
    script(src="/js/quantitymonthReport.js")
    script(src="/js/util.js") 
