extends ./partial/layout.pug
block linkcss
    link(rel="stylesheet", href="/vendor/bootstrap5/css/bootstrap.min.css")
    link(rel="stylesheet", href="/vendor/fontawesome6/css/all.min.css")
    link(rel="stylesheet", href="/css/tableDataCurrent.css")
    link(rel="stylesheet", href="/css/pageCommon.css")
block content
    .container-fluid.py-4
        h2.text-primary Vilog Site Current Snapshot

        .card.p-3
            h5.card-title.text-primary
                i.fas.fa-filter.me-2.text-primary
                | Filter Sites
            .row
                .col-md-3
                    select.form-select#statusFilter
                        option(value="all") Filter by Status (All)
                        option(value="Connected") Connected
                        option(value="Disconnected") Disconnected
                        option(value="Alarm") Alarm
                .col-md-3
                    input.form-control#searchSite(type="text", placeholder="Search by Site ID or Location")
        #siteCardsContainer.row

block linkcriptbody
   script(src="/vendor/jquery/jquery-3.7.1.min.js")
    script(src="/vendor/bootstrap5/js/bootstrap.bundle.min.js")
    script(src="/vendor/datatables/js/dataTables.min.js")
    script(src="/vendor/datatables/js/dataTables.bootstrap5.min.js")
    script(src="/vendor/datatables/js/dataTables.buttons.min.js")
    script(src="/vendor/datatables/js/buttons.bootstrap5.min.js")
    script(src="/vendor/jszip/jszip.min.js")
    script(src="/vendor/pdfmake/pdfmake.min.js")
    script(src="/vendor/pdfmake/vfs_fonts.js")
    script(src="/vendor/datatables/js/buttons.html5.min.js")
    script(src="/vendor/datatables/js/buttons.print.min.js")
    script(src="/vendor/datatables/js/dataTables.responsive.min.js")
    script(src="/js/hostname.js")
    script(src="/js/tableDataCurrent.js")
    script(src="/js/util.js")
