.form-select {
  width: 226.8px;
  height: 27px;
}

.button {
  display: flex;
  justify-content: center;
  align-items: center;
}

.button button {
  padding: 5px 40px;
}

#chartPressure,
#chartFlow,
#chartQuantity,
#chartMNF {
  width: 100%;
  height: 400px;
}

#tableDataPressure,
#tableDataFlow,
#tableDataQuantity,
#tableDataMNF {
  width: 100%;
  height: 400px;
  overflow: scroll;
}
