.header {
    background: #0984e3;
}

.ti-bell {
    background: transparent;
    color: white;
    outline: 0;
    border: 0;
}

.badge {
    font-size: 10px !important;
}

/* .box-alarm {
    width: 50%;
    height: 300px;
    z-index: 9999;
    background: white;
    position: absolute;
    top: 100%;
    right: 0;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;

    box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.2);
}

#boxAlarm {
    overflow-y: scroll;
}

#boxAlarm::-webkit-scrollbar {
    width: 2px;
}

#boxAlarm::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

#boxAlarm::-webkit-scrollbar-thumb {
    background-color: darkgrey;
    outline: 1px solid slategrey;
} */

@media only screen and (min-width: 769px) {
    .header .float-left {
        display: none;
    }
}

@media only screen and (min-width: 769px) {
    .box-alarm {
        width: 70%;
    }
}

@media only screen and (max-width: 769px) {
    .header {
        margin-left: 0 !important;
    }
}

#alarmModal {
    z-index: 9990;
}

#tableAlarm {
    width: 100% !important;
}
