.form-select {
  width: 157.8px;
  height: 27px;
}

.button {
  display: flex;
  justify-content: center;
  align-items: center;
}

.button button {
  padding: 5px 40px;
}

#chart,
#chartCircle {
  width: 100%;
  height: 400px;
}
