link(href='/assets/css/lib/toastr/toastr.min.css' rel='stylesheet')
// Sweet Alert
link(href='/assets/css/lib/sweetalert/sweetalert.css' rel='stylesheet')
// Range Slider
link(href='/assets/css/lib/rangSlider/ion.rangeSlider.css' rel='stylesheet')
link(href='/assets/css/lib/rangSlider/ion.rangeSlider.skinFlat.css' rel='stylesheet')
// Bar Rating
link(href='/assets/css/lib/barRating/barRating.css' rel='stylesheet')
// Nestable
link(href='/assets/css/lib/nestable/nestable.css' rel='stylesheet')
// JsGrid
link(href='/assets/css/lib/jsgrid/jsgrid-theme.min.css' rel='stylesheet')
link(href='/assets/css/lib/jsgrid/jsgrid.min.css' type='text/css' rel='stylesheet')
// Datatable
link(href='/assets/css/lib/datatable/dataTables.bootstrap.min.css' rel='stylesheet')
link(href='/assets/css/lib/data-table/buttons.bootstrap.min.css' rel='stylesheet')
// Calender 2
link(href='/assets/css/lib/calendar2/pignose.calendar.min.css' rel='stylesheet')
// Weather Icon
link(href='/assets/css/lib/weather-icons.css' rel='stylesheet')
// Owl Carousel
link(href='/assets/css/lib/owl.carousel.min.css' rel='stylesheet')
link(href='/assets/css/lib/owl.theme.default.min.css' rel='stylesheet')
// Select2
link(href='/assets/css/lib/select2/select2.min.css' rel='stylesheet')
// Chartist
link(href='/assets/css/lib/chartist/chartist.min.css' rel='stylesheet')
// Calender
link(href='/assets/css/lib/calendar/fullcalendar.css' rel='stylesheet')
// Common
link(href='/assets/css/lib/font-awesome.min.css' rel='stylesheet')
link(href='/assets/css/lib/themify-icons.css' rel='stylesheet')
link(href='/assets/css/lib/menubar/sidebar.css' rel='stylesheet')
link(href='/assets/css/lib/bootstrap.min.css' rel='stylesheet')
link(href='/assets/css/lib/helper.css' rel='stylesheet')
link(href='/assets/css/style.css' rel='stylesheet')

link(rel="stylesheet", href="/css/header.css")
