//- Cập nhật links trong Pug để có query params mặc định
.mobile-nav#mobileNav
  .nav-background
  nav.nav-container
    a.nav-item(href="/dashboardVilog?app=true" data-tooltip="Dashboard")
      .nav-icon-wrapper
        i.nav-icon
            i.ti-dashboard
        .nav-indicator
      span.nav-text Dash board

    a.nav-item(href="/historyAlarm?app=true" data-tooltip="History ")
      .nav-icon-wrapper
        i.nav-icon
            i.ti-bell
        .nav-indicator
      span.nav-text History Alarm

    a.nav-item(href="/?app=true" data-tooltip="Map")
      .nav-icon-wrapper
        i.nav-icon
            i.ti-map
        .nav-indicator
      span.nav-text Map

    a.nav-item(href="/tableDataCurrent?app=true" data-tooltip="Data Current")
      .nav-icon-wrapper
        i.nav-icon
            i.ti-view-grid
        .nav-indicator
      span.nav-text Data Current

    a.nav-item(href="/dataDayLogger?app=true" data-tooltip="Data Daily")
      .nav-icon-wrapper
        i.nav-icon
            i.ti-view-list-alt
        .nav-indicator
      span.nav-text Data Daily

    a.nav-item(href="/siteConfig?app=true" data-tooltip="Site Configuration")
      .nav-icon-wrapper
        i.nav-icon
            i.ti-settings
        .nav-indicator
      span.nav-text Site Config
