// Common
script(src='/assets/js/lib/jquery.min.js')
script(src='/assets/js/lib/jquery.nanoscroller.min.js')
script(src='/assets/js/lib/menubar/sidebar.js')
script(src='/assets/js/lib/preloader/pace.min.js')
script(src='/assets/js/lib/bootstrap.min.js')
script(src='/assets/js/scripts.js')
// Calender
//- script(src='/assets/js/lib/jquery-ui/jquery-ui.min.js')
//- script(src='/assets/js/lib/moment/moment.js')
//- script(src='/assets/js/lib/calendar/fullcalendar.min.js')
//- script(src='/assets/js/lib/calendar/fullcalendar-init.js')
// Flot Chart
//- script(src='/assets/js/lib/flot-chart/excanvas.min.js')
//- script(src='/assets/js/lib/flot-chart/jquery.flot.js')
//- script(src='/assets/js/lib/flot-chart/jquery.flot.pie.js')
//- script(src='/assets/js/lib/flot-chart/jquery.flot.time.js')
//- script(src='/assets/js/lib/flot-chart/jquery.flot.stack.js')
//- script(src='/assets/js/lib/flot-chart/jquery.flot.resize.js')
//- script(src='/assets/js/lib/flot-chart/jquery.flot.crosshair.js')
//- script(src='/assets/js/lib/flot-chart/curvedLines.js')
//- script(src='/assets/js/lib/flot-chart/flot-tooltip/jquery.flot.tooltip.min.js')
//- script(src='/assets/js/lib/flot-chart/flot-chart-init.js')
// Chartist
//- script(src='/assets/js/lib/chartist/chartist.min.js')
//- script(src='/assets/js/lib/chartist/chartist-plugin-tooltip.min.js')
//- script(src='/assets/js/lib/chartist/chartist-init.js')
// Chartjs
//- script(src='/assets/js/lib/chart-js/Chart.bundle.js')
//- script(src='/assets/js/lib/chart-js/chartjs-init.js')
// Knob
script(src='/assets/js/lib/knob/jquery.knob.min.js ')
script(src='/assets/js/lib/knob/knob.init.js ')
// Morris
//- script(src='/assets/js/lib/morris-chart/raphael-min.js')
//- script(src='/assets/js/lib/morris-chart/morris.js')
//- script(src='/assets/js/lib/morris-chart/morris-init.js')
// Peity
//- script(src='/assets/js/lib/peitychart/jquery.peity.min.js')
//- script(src='/assets/js/lib/peitychart/peitychart.init.js')
// Sparkline
//- script(src='/assets/js/lib/sparklinechart/jquery.sparkline.min.js')
//- script(src='/assets/js/lib/sparklinechart/sparkline.init.js')
// Select2
script(src='/assets/js/lib/select2/select2.full.min.js')
// Validation
//- script(src='/assets/js/lib/form-validation/jquery.validate.min.js')
//- script(src='/assets/js/lib/form-validation/jquery.validate-init.js')
// Circle Progress
script(src='/assets/js/lib/circle-progress/circle-progress.min.js')
script(src='/assets/js/lib/circle-progress/circle-progress-init.js')
// Vector Map
script(src='/assets/js/lib/vector-map/jquery.vmap.js')
script(src='/assets/js/lib/vector-map/jquery.vmap.min.js')
script(src='/assets/js/lib/vector-map/jquery.vmap.sampledata.js')
script(src='/assets/js/lib/vector-map/country/jquery.vmap.world.js')
script(src='/assets/js/lib/vector-map/country/jquery.vmap.algeria.js')
script(src='/assets/js/lib/vector-map/country/jquery.vmap.argentina.js')
script(src='/assets/js/lib/vector-map/country/jquery.vmap.brazil.js')
script(src='/assets/js/lib/vector-map/country/jquery.vmap.france.js')
script(src='/assets/js/lib/vector-map/country/jquery.vmap.germany.js')
script(src='/assets/js/lib/vector-map/country/jquery.vmap.greece.js')
script(src='/assets/js/lib/vector-map/country/jquery.vmap.iran.js')
script(src='/assets/js/lib/vector-map/country/jquery.vmap.iraq.js')
script(src='/assets/js/lib/vector-map/country/jquery.vmap.russia.js')
script(src='/assets/js/lib/vector-map/country/jquery.vmap.tunisia.js')
script(src='/assets/js/lib/vector-map/country/jquery.vmap.europe.js')
script(src='/assets/js/lib/vector-map/country/jquery.vmap.usa.js')
// Simple Weather
script(src='/assets/js/lib/weather/jquery.simpleWeather.min.js')
script(src='/assets/js/lib/weather/weather-init.js')
// Owl Carousel
script(src='/assets/js/lib/owl-carousel/owl.carousel.min.js')
script(src='/assets/js/lib/owl-carousel/owl.carousel-init.js')
// Calender 2
script(src='/assets/js/lib/calendar-2/moment.latest.min.js')
//- script(src='/assets/js/lib/calendar-2/pignose.calendar.min.js')
//- script(src='/assets/js/lib/calendar-2/pignose.init.js')
// Datatable
script(src='/assets/js/lib/data-table/datatables.min.js')
script(src='/assets/js/lib/data-table/dataTables.buttons.min.js')
script(src='/assets/js/lib/data-table/buttons.flash.min.js')
script(src='/assets/js/lib/data-table/jszip.min.js')
script(src='/assets/js/lib/data-table/pdfmake.min.js')
script(src='/assets/js/lib/data-table/vfs_fonts.js')
script(src='/assets/js/lib/data-table/buttons.html5.min.js')
script(src='/assets/js/lib/data-table/buttons.print.min.js')
script(src='/assets/js/lib/data-table/datatables-init.js')
// JS Grid
//- script(src='/assets/js/lib/jsgrid/db.js')
//- script(src='/assets/js/lib/jsgrid/jsgrid.core.js')
//- script(src='/assets/js/lib/jsgrid/jsgrid.load-indicator.js')
//- script(src='/assets/js/lib/jsgrid/jsgrid.load-strategies.js')
//- script(src='/assets/js/lib/jsgrid/jsgrid.sort-strategies.js')
//- script(src='/assets/js/lib/jsgrid/jsgrid.field.js')
//- script(src='/assets/js/lib/jsgrid/fields/jsgrid.field.text.js')
//- script(src='/assets/js/lib/jsgrid/fields/jsgrid.field.number.js')
//- script(src='/assets/js/lib/jsgrid/fields/jsgrid.field.select.js')
//- script(src='/assets/js/lib/jsgrid/fields/jsgrid.field.checkbox.js')
//- script(src='/assets/js/lib/jsgrid/fields/jsgrid.field.control.js')
//- script(src='/assets/js/lib/jsgrid/jsgrid-init.js')
// Datamap
//- script(src='/assets/js/lib/datamap/d3.min.js')
//- script(src='/assets/js/lib/datamap/topojson.js')
//- script(src='/assets/js/lib/datamap/datamaps.world.min.js')
//- script(src='/assets/js/lib/datamap/datamap-init.js')
// Nestable
//- script(src='/assets/js/lib/nestable/jquery.nestable.js')
//- script(src='/assets/js/lib/nestable/nestable.init.js')
// ION Range Slider JS
script(src='/assets/js/lib/rangeSlider/ion.rangeSlider.min.js')
script(src='/assets/js/lib/rangeSlider/moment.js')
script(src='/assets/js/lib/rangeSlider/moment-with-locales.js')
script(src='/assets/js/lib/rangeSlider/rangeslider.init.js')
// Bar Rating
script(src='/assets/js/lib/barRating/jquery.barrating.js')
script(src='/assets/js/lib/barRating/barRating.init.js')
// jRate
script(src='/assets/js/lib/rating1/jRate.min.js')
script(src='/assets/js/lib/rating1/jRate.init.js')
// Sweet Alert
script(src='/assets/js/lib/sweetalert/sweetalert.min.js')
script(src='/assets/js/lib/sweetalert/sweetalert.init.js')
// Toastr
script(src='/assets/js/lib/toastr/toastr.min.js')
script(src='/assets/js/lib/toastr/toastr.init.js')

// axios 
script(src='/axios/axios.min.js')
// amcharts4
script(src='/assets/js/lib/amcharts4/core.js')
script(src='/assets/js/lib/amcharts4/charts.js')
script(src='/assets/js/lib/amcharts4/animated.js')

script(src='/js/Alarm.js')